@media (max-width: 600px)
    .navbar-menu
        display: block
        //opacity: 0

        position: absolute
        left: 0
        right: 0

        transform: translateY(-150%)
        transition: all .4s ease-in-out
        //pointer-events: none

    .navbar-menu.is-active
        //opacity: 1
        transform: none
        //pointer-events: none

