<app-info-panel></app-info-panel>

<section class="section">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary">
              <p class="title">Inscritos</p>
              <p class="subtitle">de 19/10/2019 à 30/10/2019</p>
              <progress class="progress is-info m-t-lg" value="45" max="100">45%</progress>
            </article>
            <article class="tile is-child notification is-warning">
              <p class="title">Interesses</p>
              <p class="subtitle">Nomes mais pesquisados</p>
              <div class="tags">
                <span class="tag">One</span>
                <span class="tag">Two</span>
                <span class="tag">Three</span>
                <span class="tag">Four</span>
                <span class="tag">Five</span>
                <span class="tag">Six</span>
                <span class="tag">Seven</span>
                <span class="tag">Eight</span>
                <span class="tag">Nine</span>
                <span class="tag">Ten</span>
                <span class="tag">Eleven</span>
                <span class="tag">Twelve</span>
                <span class="tag">Thirteen</span>
                <span class="tag">Fourteen</span>
                <span class="tag">Fifteen</span>
                <span class="tag">Sixteen</span>
                <span class="tag">Seventeen</span>
                <span class="tag">Eighteen</span>
                <span class="tag">Nineteen</span>
                <span class="tag">Twenty</span>
              </div>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-info">
              <p class="title">Lottie</p>
              <p class="subtitle">Synfig animation</p>
              <figure class="image">
                <app-ball-anim></app-ball-anim>
              </figure>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-danger">
            <p class="title">Wide tile</p>
            <p class="subtitle">Aligned with the right tile</p>
            <div class="content">
              <!-- Content -->
            </div>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-success">
          <div class="content">
            <p class="title">Tall tile</p>
            <p class="subtitle">With even more content</p>
            <div class="content">
              <!-- Content -->
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
