<section class="main-content hero is-light">
  <div class="hero-body">
      <p class="title">Atenção</p>
      <p class="subtitle">Após o perido de inscrição todos candidatos que nao comparecerem serão desclassificados.</p>
  </div>
</section>
