<footer class="footer">
    <div class="content has-text-centered">
      <p>
        Build by <a target="_blank" href="https://github.com/dodevs">Douglas Silva</a> with <span class="has-text-linkedin"><mat-icon>favorite</mat-icon>  </span>
      </p>
    </div>
  </footer>
